body {
  min-width: 750px;
}

section {
  margin-top: 2em;
}

.text-align-center {
    text-align: center;
}

.align-center {
  margin: 0 auto;
}

.margin-bottom-2 {
    margin-bottom: 2em;
}

.margin-right-2 {
    margin-right: 2em;
}

.margin-top-2 {
  margin-top: 2em;
}

.margin-left-1 {
  margin-left: 1em;
}

.margin-left-3 {
    margin-left: 3em;
}

.margin-left-4 {
  margin-left: 4em;
}

.width-2 {
  width: 2em;
}
